:root {
  --border-color-red: #cf291d;
  --darker-red: #B50717;
  --empty-background-gray: #1d1d1d;
  --light-gray: #bfbfbf;
  --almost-black: #131313;
  --offwhite: #ECECEC;
  --footer-background-transparent: rgba(0,0,0,0.3);
  --main-content-div-size: calc(100vh - 7.5rem);
}

body {
  margin: 0;
  background-color: var(--almost-black);
}

* {
  margin: 0;
  padding: 0;
  text-align: center;
}

#content {
  width: 100vw;
  height: 100vh;
  justify-content: space-between;
  background-size: cover;
}

#nav-bar {
  display: flex;
  left: 0;
  top: 0;
  width: 100%;
  border-bottom: 0.2rem solid var(--border-color-red);
  background: none;
  height: 5rem;
  color: var(--offwhite);
}

#tab-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.tabs {
  margin: 0 2rem;
  font-family: "Teko", sans-serif;
}

.active,
.tabs:hover {
  cursor: pointer;
  color: var(--darker-red);
}

#footer {
  left: 0;
  bottom: 0;
  position: fixed;
  background-color: var(--footer-background-transparent);
  width: 100%;
  /* Allocate 0.2rem in height for nav border */
  height: 2.3rem;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--offwhite);
  font-family: "Teko", sans-serif;
}

#github-logo {  font-family: "Teko", sans-serif;
  width: 1.5rem;
  margin-left: 1rem;
}

#github-logo:hover {
  cursor: pointer;
}

#github-link {
  color: var(--darker-red);
}

/* 
Main contains entire page content per tab 
excluding nav bar and footer.
*/
#main {
  /* 5rem header + 2.5rem footer (2.3rem height due to red nav border's 0.2rem) = 7.5rem */
  min-height: var(--main-content-div-size);
  background: var(--empty-background-gray);
}

#home-div {
  width: 100%;
  min-height: var(--main-content-div-size); 
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: url('/dist/photos/home-darker.jpg');
}

#restaurant-name {
  color: var(--offwhite);
  font-size: 6rem;
}

#restaurant-line {
  color: var(--border-color-red);
  font-size: 2rem;
}

#contact-us-div {
  width: 100%;
  min-height: var(--main-content-div-size); 
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: url('/dist/photos/contact-us.jpg');
};

#map-div {
  height: 30rem;
}

#telephone-number,
#restaurant-address,
#restaurant-email {
  color: var(--offwhite);
  font-size: 1.5rem;
  font-family: "Teko", sans-serif;
}

#restau1rant-address,
#telephone-number {
  padding: 1rem;
}

#ginza-map {
  margin-top: 2rem;
  width: 30rem;
  height: 30rem;
}

#render-menu-div {
  min-height: var(--main-content-div-size); 
  background: url('/dist/photos/menu-darker.jpg');
  /* Apply 0.001rem to avoid pushing footer downwards */
  padding: 0.001rem calc(50% - 20rem);
}

.item {
border-bottom: 0.1rem dotted #c5c5c5;
break-inside: avoid;
display: flex;
justify-content: space-between;
}

span {
  font-family: "Teko", sans-serif;
  margin-bottom: -0.25rem;
  padding: 0.25rem;
  color: var(--offwhite);
  font-size: 1.2rem;
}
.list-title {
  font-family: "Teko", sans-serif;
  font-size: 1.875rem;
  color: var(--border-color-red);
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.list {
  margin-bottom: 2rem;
}